/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root {
    --header-height: 3rem;
    --font-semi: 600;
    /*===== Colors =====*/
    /*Purple 260 - Red 355 - Blue 224 - Pink 340*/
    /* HSL color mode */
    --hue-color: 39 ;
    --first-color: hsl(var(--hue-color), 100%, 70%);
    --second-color: hsl(var(--hue-color), 56%, 12%);
    /*===== Font typography =====*/
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --smaller-font-size: .75rem;
    /*===== Margins =====*/
    --mb-2: 1rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    /*===== z index =====*/
    --z-back: -10;
    --z-fixed: 100;
}

@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
        --smaller-font-size: .875rem;
    }
}

/*===== BASE =====*/
*, ::before, ::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color);
    background-size: cover;
    background-repeat: repeat-x;
    background-attachment: fixed;
    
}

h1, h2, p {
    margin: 0;
}

ul {
    margin:0;
    padding: 0;
    list-style-type: none;
    
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/*===== CLASS CSS ===== */
.section-title {
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-top: 1rem;
    margin-bottom: var(--mb-4);
    text-align: center;
}

.section-title::after {
    position: absolute;
    content: '';
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
}

.section {
    padding-top: 4rem; /* Adjust as needed */
    padding-bottom: 4rem; /* Adjust as needed */
}



/*===== LAYOUT =====*/
.bd-grid {
    max-width: 1024px;
    display: grid;
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

/*===== NAV =====*/
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: var(--second-color);
        transition: .5s;
    }
}

.nav__item {
    margin-bottom: var(--mb-4);
    text-decoration: none;
}

.nav__link {
    position: relative;
    color: #e69f4f;
}

.nav__link:hover {
    position: relative;
}

.nav__link:hover::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color)
}

.nav__logo {
    color: var(--second-color);
    font-size: x-large;
}

.nav__toggle {
    color: var(--second-color);
    font-size: 1.5rem;
    cursor: pointer;
}

/*Active menu*/
.active::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}

/*=== Show menu ===*/
.show {
    right: 0;
}

/*===== HOME =====*/
.home {
    position: relative;
    row-gap: 5rem;
    padding: 4rem 0 2rem;
    overflow: hidden; /* Add overflow hidden */
}

.home__data {
    align-self: center;
}

.home__title {
    text-align: left;
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-4);
    color: hsl(var(--hue-color), 100%, 70%);
    animation: typing 4s steps(40) forwards;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid transparent;
    text-shadow: 2px 2px rgb(252, 249, 249);
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}


.home__title-color {
    color: var(--first-color);
}

.home__social {
    display: flex;
    flex-direction: column;
}

.home__social-icon {
    width: max-content;
    margin-bottom: var(--mb-2);
    font-size: 1.5rem;
    color: var(--first-color);
}

.home__social-icon:hover {
    color: var(--first-color);
}

.home__img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 260px;
}

.home__blob {
    fill: var(--first-color);
    width: 430px;
    position: relative;
    opacity: 0; /* Set initial opacity to 0 */
    animation: fadeIn 2s forwards; /* Apply fade-in animation */
    margin-top: 6rem;
}

/* Define the fade-in animation */
@keyframes fadeIn {
    0% {
        opacity: 0; /* Start with opacity 0 */
    }
    100% {
        opacity: 1; /* Fade in to full opacity */
    }
}

.home__blob-img {
    width: 300px;
}

/*BUTTONS*/
.button {
    display: inline-block;
    background-color: var(--first-color);
    color:var(--second-color);
    padding: .75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: .5rem;
    transition: all .3s;
    text-shadow: 2px 2px rgb(252, 249, 249);
    border: none; /* Add button border */
    cursor: pointer;
}

.button:hover {
    box-shadow: rgba(17, 17, 26, 0.3) 0px 8px 24px, rgba(17, 17, 26, 0.3) 0px 16px 56px, rgba(17, 17, 26, 0.3) 0px 24px 80px;
    background-color: var(--second-color); /* Change button background color on hover */
}


/* ===== ABOUT =====*/
.about {
    text-align: relative; /* Center align the content */
    padding: 2rem 0 10rem;
    overflow: hidden; /* Add overflow hidden */
}

.about__container {
    display: flex;
    align-items:flex-start;
    justify-content:center;
    flex-wrap: wrap;
    position: relative;
    padding-top: 2rem;
    
    
}

.about__img {
    flex: 0 0 calc(30% - 10px); /* Take up half of the width minus some spacing */
    max-width: 200px;
    height: 350px;
    border-radius: 20px; /* Add curved corners */
    box-shadow: 0px 4px 25px rgba(153, 155, 156, 0.792), 0 0 30px rgba(255, 255, 255, 0.7);
    margin-right: 40px; /* Add more space between the image and the video */
    margin-bottom: 15px;
    transition: transform 0.3s ease-in-out;
}


.about__img:hover {
    transform: scale(1.05);
}

.about__subtitle {
    flex: 0 0 calc(50% - 20px); /* Take up half of the width minus some spacing */
    text-align: center;
    color: var(--first-color);
    background-color: #363636; /* Set background color to ash gray */
    padding: 20px; /* Add padding for spacing */
    border-radius: 10px 10px 0 0; /* Add curved corners on top */
    border-bottom: 2px solid white; /* Add white border to bottom of subtitle */
}

.about__text {
    flex: 0 0 calc(50% - 20px); /* Take up half of the width minus some spacing */
    text-align: center;
    color: var(--first-color);
    background-color: #363636; /* Set background color to ash gray */
    padding: 20px; /* Add padding for spacing */
    border-radius: 0 0 10px 10px; /* Add curved corners on bottom */
}

.video-container {
    text-align: center;
    position: absolute;
    top: 30%; /* Elevate the video slightly */
    right: -800px; /* Move the video container further to the right */
    transform: translate(0, -50%); /* Center the video vertically */
    z-index: 1;
}

#toggle-video-btn {
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: var(--first-color);
    color: var(--second-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#toggle-video-btn:hover {
    background-color: hsl(var(--hue-color), 100%, 50%);
}

video {
    min-width: 150px; /* Set minimum width for the video */
    min-height: 100px; /* Set minimum height for the video */
    max-width:25%; /* Reduce the maximum width of the video */
    max-height: 40%; /* Reduce the maximum height of the video */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 30px rgba(255, 255, 255, 0.5) inset;
    border: 2px solid white;
    overflow:hidden;
    transition: transform 0.3s ease-in-out;
    opacity: 20; /* Adjust the transparency of the video */
}

@keyframes smoke {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 0.8;
        transform: translateX(5px);
    }
    100% {
        opacity: 0.2;
    }
}



/*===== EDUCATION =====*/
.education__container {
    display: flex;
    justify-content: space-between; /* Space between the two education lists */
    align-items: flex-start; /* Align items to the top */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.left-education,
.right-education {
    width: 45%; /* Adjust the width as needed */
    margin-right: auto;
}

/* Additional styling for education lists */
.education__list {
    list-style: none;
    padding: 0;
}

.education__item {
    margin-bottom: 90px;
    font-size: x-large;
    border-radius: 6rem;
    transition: opacity 0.5s ease; /* Add transition for opacity change */
    color: yellow; /* Change text color to yellow */
    background-color: #363636; /* Set background color to ash gray */
    padding: 20px; /* Add padding for spacing */
    border-radius: 10px; /* Add curved corners on top */
    border-bottom: 2px solid white; /* Add white border to bottom of subtitle */
    border-top: 2px solid white ;
}

.education__item strong {
    color: var(--first-color);
    font-weight: bold;
}

.show-education .education__item {
    opacity: 1; /* Show the items when the education section is active */
    animation: fadeIn 0.5s ease forwards; /* Add animation to fade in */
}

/*===== SKILLS =====*/
.skills {
    color: white;
    padding: 6rem 0 10rem;
    overflow: hidden; /* Add overflow hidden */
}

.skills__container {
    display: flex;
    justify-content: space-between; /* evenly distribute items */
    align-items: flex-start; /* align items at the top */
}

.skills__content {
    flex: 1; /* evenly distribute space between items */
    text-align: left; /* Align to the left */
    margin-bottom: var(--mb-4);
}

.skills__subtitle {
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-2);
}

.skills__list {
    list-style: none;
    padding: 0;
    font-size:x-large;
}

.skills__list li {
    margin-bottom: 0.5rem;
}

.skills__graph {
    text-align: right; /* Align to the right */
    flex: 0 0 40%; /* Limit width to 40% of container width */
}

.bar-graph {
    display: flex;
    flex-direction: column;
}

.bar {
    height: 20px;
    background-color: #ddd;
    margin-bottom: 0.5rem;
}

.bar-fill {
    height: -1; /* Initially set height to 0 */
    background-color: var(--first-color); /* Adjust the color of the filled part */
    transition: height 1s ease-in-out; /* Apply transition for smooth animation */
}

.bar-label {
    margin-bottom: 0.5rem;
}


/* ===== HOBBIES =====*/
.hobbies {
    padding: var(--mb-6) 0 10rem; /* Adjust padding-top and padding-bottom for consistent spacing */
    color: white;
}

.hobbies__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    grid-gap: var(--mb-4);
}

.hobbies__item {
    text-align: center;
}

.hobbies__subtitle {
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-2);
}

.hobbies__video-container {
    margin-bottom: var(--mb-4);
    stop-opacity: 1 ;
}

.hobbies__games img {
    width: 100px; /* Adjust the size of the game logos as needed */
    height: auto;
    margin-right: var(--mb-2); /* Adjust the margin between game logos */
    border: 2px solid white; /* Add border to the game logos */
    padding: 5px; /* Add padding to the game logos */
    border-radius: 10px; /* Add curved border */
}

.hobbies__games img.large {
    width: 150px; /* Adjust the size of the larger game logo */
    margin-right: 0; /* Remove margin for the larger game logo */
}


.hobbies__text {
    font-size: var(--normal-font-size);
    background-color: #363636;
    border-radius: 10px;
    padding: 20px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
}


/*===== PHOTO =====*/
.photo {
    height: 100vh; /* Set the height to 100% of the viewport height */
    overflow: hidden; /* Add overflow hidden */
    padding: 6rem 0 10rem;
}

.photo__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.photo__img {
    align-self: center;
    color: var(--first-color)
    
}

.photo__img img {
    width: 300px; /* Adjust the width as needed */
    height: 300px; /* Adjust the height as needed */
    border-radius: 50%;
    margin-bottom: var(--mb-2);
}

.photo__img p {
    background-color: #363636; /* Black and white mix with lighter tone */
    color:yellow; /* Adjust text color as needed */
    border: 5px solid rgba(0, 0, 0, 0.2); /* Border color with lighter opacity */
    border-radius: 10px; /* Adjust border radius as needed */
    padding: 10px; /* Add padding for better appearance */
}



/* ===== CONTACT =====*/
.contact {
    padding: 6rem 0 15rem; /* Adjust padding-top and padding-bottom for consistent spacing */
    overflow: hidden; /* Add overflow hidden */
}

.contact__input {
    width: 100%;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi);
    padding: 1rem;
    border-radius: .5rem;
    border: 2px solid var(--second-color);
    outline: none;
    margin-bottom: var(--mb-4);
    transition: border .3s;
    resize: none;
}

.contact__input:focus {
    border: 2px solid var(--first-color);
}

.contact__button {
    display: block;
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    cursor: pointer;
    margin-left: auto;
}

/* ===== FOOTER =====*/
.footer {
    background-color: var(--second-color);
    color: #fff;
    text-align: center;
    font-weight: var(--font-semi);
    padding: 2rem 0;
}

.footer__title {
    font-size: 2rem;
    margin-bottom: var(--mb-4);
}

.footer__social {
    margin-bottom: var(--mb-4);
}

.footer__icon {
    font-size: 1.5rem;
    color: #fff;
    margin: 0 var(--mb-2);
    transition: color .3s;
}

.footer__icon:hover {
    color: var(--first-color);
}

.footer__copy {
    font-size: var(--normal-font-size);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (max-width: 320px) {
    .home {
        row-gap: 2rem;
    }
    .home__img {
        width: 200px;
    }
}

@media screen and (min-width: 576px) {
    .home {
        padding: 4rem 0 2rem;
    }
    .home__social {
        padding-top: 0;
        padding-bottom: 2.5rem;
        flex-direction: row;
        align-self: flex-end;
    }
    .home__social-icon {
        margin-bottom: 0;
        margin-right: var(--mb-4);
    }
    .home__img {
        width: 300px;
        bottom: 25%;
    }
    .about__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: initial;
    }
    .hobbies__container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        padding-top: 2rem;
    }
    .contact__form {
        width: 360px;
        padding-top: 2rem;
    }
    .contact__container {
        justify-items: center;
    }
}

@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }
    .section {
        padding-top: 4rem;
        padding-bottom: 3rem;
    }
    .section-title {
        margin-bottom: var(--mb-6);
    }
    .section-title::after {
        width: 80px;
        top: 3rem;
    }
    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }
    .nav__list {
        display: flex;
        padding-top: 0;
    }
    .nav__item {
        margin-left: var(--mb-6);
        margin-bottom: 0;
    }
    .nav__toggle {
        display: none;
    }
    .nav__link {
        color: var(--second-color);
    }
    .home {
        padding: 8rem 0 2rem;
    }
    .home__img {
        width: 400px;
        bottom: 10%;
    }
    .about__container {
        padding-top: 2rem;
    }
    .about__img img {
        width: 300px;
    }
    .hobbies__container {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
    }
}

@media screen and (min-width: 992px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
    .home {
        padding: 10rem 0 2rem;
    }
    .home__img {
        width: 450px;
    }
}
